.cardContainer {
    width: 100%;
    cursor: pointer;
    margin-top: 25px;
}

.divSub {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.gridContainer {
    margin-left: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    justify-content: center;
}

.gridContainer>div {
    width: 300px;
    height: 250px;
}