.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(192, 192, 192);
    flex-direction: column;
    width: 600px;
    height: 450px;
    left: 35%;
    margin-top: 200px;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 2px black;
}